
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ana Sayfa</h1>
<img src="/Content/img/indir.jpg" alt="resim açıklaması" class="img-left" />
<p>
    Lorem ipsum dolor ...
</p>
<p>
    Quisque diam mauris, bibendum sed elit s...
</p>
<p>
    Sed lorem sapien, rutrum vel rhoncus in ...
</p>
<p>
    Sed sed tempus nisl. Etiam viverra ....
</p>
<p>
    Sed at nunc facilisis, vulputate ...
</p>
<p>
Quisque diam mauris, bibendum sed elit s...
</p>
<p>
    Sed lorem sapien, rutrum vel rhoncus in ...
</p>
<p>
    Sed sed tempus nisl. Etiam viverra ....
</p>
<p>
    Sed at nunc facilisis, vulputate ...
</p>

